*,
::before,
::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Audiowide';
  font-weight: normal;
  font-size: 15px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background: radial-gradient(#116466, #232e29 0%);
  border-bottom: 5px double #d1e8e2;
  color: #f6f4f1;
  position: fixed;
  top: 0;
  width: 100%;
}

.img-cont {
  flex: 2;
  margin-left: 10px;
}

header nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  color: #f6f4f1;
  text-decoration: none;
}

img {
  width: 150px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  margin-top: 10em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7.5em;
  background-color: #d1e8e2;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.why_us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why_us_div {
  flex: 1;
  padding: 20px 20px 20px 20px;
  border: 1px solid #232e29;
  border-radius: 10px;
  margin: 10px 25px;
  min-width: 500px;
}
